h4 {
	display:inline;
}

.div-default-framework {
	overflow: hidden;
	border: 1px solid #0ba1b5;
	width: 800px;
	margin-top: 10px;
	margin-right: 10px;
	margin: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
}

.div-result-framework {
	overflow: hidden;
	border: 1px solid #0ba1b5;
	width: 1200px;
	margin-top: 10px;
	margin-right: 10px;
	margin: 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px 5px 5px 5px;
}

.div-button-framework {
	float: left;
}

.div-button-close {
	float: right;
	cursor: pointer;
}

.div-result {
	clear: both;
}

.div-button-green {
	background-color: #77b55a;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 10px;
	padding: 4px 15px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px 0 #5b8a3c;
	vertical-align: top;
}

.div-button-red {
	background-color: #e4685d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 5px 10px;
	padding: 4px 15px;
	display: inline-block;
	color: #fff;
	font-family: arial;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px 0 #b23e35;
	vertical-align: top;
}

#radio-run-statistics {
	margin: 5px 10px;
	display: inline-block;
	color: #807579;
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}

#div-maker-radio {
	margin-bottom: 5px;
}

.component-group-desc {
	float: left;
	width: 180px;
	position: relative;
	padding: 66px 20px;
	text-align: left;
}

.component-group-list {
	float: left;
	position: relative;
	margin-left: 10px;
}

#cmp-component-group-desc {
	padding: 0px 20px;
}

#cmp-component-group-list {
	padding: 0px 0px;
}
